{% extends 'base.html.twig' %} {% block stylesheets %}
<link rel="stylesheet" href="{{ asset('styles/form/form.css') }}" />
<link rel="stylesheet" href="{{ asset('styles/app.css') }}" />
{% endblock %} {% block title %}New Event{% endblock %} {% block body %}
<div class="titlte">
    <h1>Créer un event</h1>
    <a href="{{ path('app_event_index') }}">
        <button>
            <i class="fa-solid fa-backward"></i>
        </button>
    </a>
</div>
{{ include("event/_form.html.twig") }}

{% endblock %}
