<nav class="navbar">
    <div class="navbar-container">

        <!-- Menu -->
        <ul class="navbar-menu">
            <li><a href="{{ path('app_home_page') }}" class="navbar-item">Home</a></li>
            <li><a href="{{ path('app_event_index') }}" class="navbar-item">Events</a></li>
            <li><a href="{{ path('app_game_index') }}" class="navbar-item">Games</a></li>
        </ul>

        <!-- Menu Hamburger Icon (Mobile version) -->
        <div class="navbar-hamburger" id="navbar-toggle">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
    </div>
</nav>
