{% extends 'base.html.twig' %} {% block title %} Liste des Jeux {% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('styles/game/card.css') }}" />
<link rel="stylesheet" href="{{ asset('styles/app.css') }}" />
{% endblock %} {% block body %}
<div class="titlte">
    <h1>Liste des jeux</h1>
    <a href="{{ path('app_game_create') }}">
        <button>
            <i class="fa-solid fa-circle-plus"></i>
        </button>
    </a>
</div>
<div class="card-Container">
    {% for game in games %} {% include 'components/game/_game_card.html.twig'
    with { name: game.name, description: game.description } %} {% endfor %}
</div>

{% endblock %}
