<article>
    <h2>{{ name }}</h2>
    <p>Description:</p>
    <p>{{ description }}</p>
    {# EDIT BUTTON #}
    <button class="edit"><i class="fa-solid fa-circle-edit"></i></button>
    {# DELETE BUTTON #}
    <button class="delete"><i class="fa-solid fa-circle-xmark"></i></button>
</article>
